
body
{
    padding-top: 3.5rem;
    background-color: rgb(218, 218, 218)8, 88, 87);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight:lighter;

    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin:auto;
}
.box-1{
    background-color: #333333;
    color:#fff;
    border: 6px rgb(114, 74, 74);
    padding:10px; 
}

.pic-1
{
    width: 80%;
    margin:auto;   
}

.box-1{
    text-align: center;
    font-style: italic
}

.box-2{
    text-align: center;
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}
.profiles{
   border:1px #ccc solid;
   padding:10px; 
   border-radius:15px;
}
p{
    font-size: 18pt;
}
h1{
    font-size: 30pt;
    color: white;
}
a:link{
    color: #25383C;
}
a:visited{
    color:rgb(66, 165, 185);
}
a:focus, a:hover{
    border-bottom: 1px solid;
}
a:active{
    color: #98AFC7;
}
footer{
    text-align: center;
}
.jumbotron{
    background-image: url("https://live.staticflickr.com/2888/13334080323_641e55ab35_b.jpg");
}
.firsthtwo{
    color: white;
}