
body
{
    background-image: radial-gradient(ellipse,#A43931,#1D4350);
    font-family: 'Grenze', serif;
    font-size: 16px;
    font-weight:lighter;

    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin:auto;
}
.box-1{
    background-color: #333333;
    color:#fff;
    border: 6px rgb(114, 74, 74);
    padding:10px; 
}

.pic-1
{
    width: 80%;
    margin:auto;   
}

.box-1{
    text-align: center;
    font-style: italic
}

.box-2{
    text-align: center;
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}
.profiles{
   border:1px #ccc solid;
   padding:10px; 
   border-radius:15px;
}
